html {
  background-color: #e2eaec;
  font-family: 'Murecho', sans-serif;
  color: #222;
}

label {
  display: flex;
  font-weight: 700;
  justify-content: space-between;
  margin-top: 16px;
  gap: 8px;
}

input:is([type="text"], [type="password"], [type="email"]) {
  border: 1px solid #b2b2b2;
  padding: 4px 8px;
  font-weight: 500;
}

input[type="submit"] {
  font-weight: 700;
  border: 1px solid #b2b2b2;
  padding: 4px 12px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: #b2b2b2;
}

textarea {
  border: 1px solid #b2b2b2;
  padding: 4px 8px;
  font-weight: 500;
}

::placeholder {
  font-weight: 700;
  opacity: 0.5;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.17rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: .83rem;
}

h6 {
  font-size: .67rem;
}

h1, h2, h3,
h4, h5, h6 {
  font-weight: 700;
}

a {
  font-size: .67rem;
  text-decoration: underline;
}

.paper {
  border: 1px solid #b2b2b2;
  padding: 16px 16px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.authenticate-wrap {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.authenticate-paper {
  border: 1px solid #b2b2b2;
  padding: 16px 16px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.authenticate-heading {
  text-align: center;
}

.authenticate-subitem {
  text-align: right;
}

.authenticate-button {
  margin-top: 16px;
  text-align: right;
}

.base-wrap {
  min-height: 100vh;
  margin: 40px auto 0;
  width: 90%;
  max-width: 800px;
} 

.base-tab {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  list-style: none;
  border-bottom: 1px solid #b2b2b2;

}

.base-tab a {
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;  
  padding: .2em .5em 0;
}

.base-tab a:hover {
  background: #b2b2b2;
}

.base-form :is(input[type="text"], textarea){
  width: 100%;
}

.form-button-area {
  margin-top: 16px;
  text-align: right;
  
}